@import url("https://fonts.googleapis.com/css2?family=Julee&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  font-family: "Victor Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --aboutMeBgColor: rgb(238, 243, 243);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(213, 229, 243, 0.091);
  backdrop-filter: blur(3px);
  top: 0;
  z-index: 9999;
  border-bottom: 0.001px solid rgba(205, 198, 198, 0.437);
}
.topNavigation {
  backdrop-filter: 100px;

  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationItems {
  display: flex;
}
.navigationItems ul {
  display: flex;
  gap: 16px;
  font-weight: 600;
}
.navigationItems ul li {
  list-style: none;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.navigationItems ul li::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 5px;
  background-color: rgb(19, 77, 237);
  transition: 0.2s ease-in-out;
}
.navigationItems ul li:hover::after {
  width: 80%;
}
.introduction {
  width: 100%;
  min-height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.resumeDownload {
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 2.2px solid rgba(153, 150, 150, 0.748);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.resumeDownload::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -148%;
  bottom: 0;
  width: 130%;
  height: 110%;
  background-color: rgba(19, 77, 237, 0.798);
  border-radius: 0% 50% 50% 0%;
  transition: 0.3s ease-in-out;
  z-index: -99;
}
.resumeDownload:hover::after {
  left: 0;
  border-radius: 0;
}
.resumeDownload:hover {
  color: rgb(238, 235, 230);
}
#about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experience {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  width: 100%;
  background-color: var(--aboutMeBgColor);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px;
}
.experience {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px;
}
a {
  text-decoration: none;
  color: unset;
}
.aboutMeTitle {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceTitle {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceTitle .text {
  background-color: var(--aboutMeBgColor);
}
.aboutMeTitle .text {
  background-color: var(--aboutMeBgColor);
}
.line {
  width: 90%;
  z-index: 0;
  background-color: rgba(62, 60, 60, 0.754);
  height: 3px;
  position: absolute;
}
.introMainSection {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.introMainSection .aboutText {
  text-align: center;
  margin: 20px;
  padding: 40px;
}

.introduction {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.downArrow {
  position: absolute;
  bottom: 40px;
}
.contactMe {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactMeTitle {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.job {
  margin: 16px;
  transform: translateX(10%);
  width: 70%;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  padding: 20px;
  gap: 29px;
}
.breakerLine {
  width: 120%;
  position: relative;
  left: -16%;
  height: 2px;
  background-color: rgb(169, 165, 165);
}
.titleName {
  width: fit-content;
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.jobb1 {
  border-right: 2.6px solid rgb(170, 166, 166);
  padding-right: 19px;
}

.jobb2 {
  border-left: 2.6px solid rgb(170, 166, 166);
  padding-left: 40px;
}
footer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialIcons {
  display: flex;
  gap: 10px;
}
footer {
  padding: 16px;
}
.seperator {
  width: 100%;
  height: 80px;
  background-color: var(--aboutMeBgColor);
  opacity: 0.46;
}
#projects {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  width: 100%;
  height: fit-content;
  background-color: var(--aboutMeBgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.featuredText {
  background-color: var(--aboutMeBgColor);
  z-index: 99;
  padding: 10px;
}
.project {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.project1 {
  display: flex;
  justify-content: center;
}

.projectDesc p {
  align-items: center;
  text-align: left;
}
.techUsed li {
  margin-top: 5px;
  padding: 5px;
  border-radius: 3.9px;
  background-color: rgba(101, 101, 101, 0.322);
}
.links-code {
  margin: 7px;
}
/* mobile responsiveness here */

@media (max-width: 1100px) {
  .introMainSection {
    font-size: 0.8rem;
    margin-top: 14px;
    flex-direction: column;
    gap: 9px;
  }
  .introMainSection .introImage img {
    width: 150px;
    height: 150px;
  }

  .introMainSection {
    width: 100%;
  }
  .introMainSection .aboutText {
    padding: 0;
  }

  .navigationItems {
    display: none;
  }
  .introduction {
    font-size: 1rem;
  }
  .line {
    width: 98%;
  }
  .job {
    flex-direction: row;
    justify-content: center;
    transform: translateX(0);
  }
  .sideDetailsExperience {
    display: none;
  }
  .titleName {
    padding: 30px;
    min-width: fit-content;
    border: 2.6px solid rgb(170, 166, 166);
  }
  .breakerLine {
    width: 120%;
    position: relative;
    left: -10%;
    height: 2px;
    background-color: rgb(169, 165, 165);
  }
  .jobDate {
    display: flex;
    text-align: start;
    font-size: 0.53rem !important;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem !important;
  }
  .introduction {
    font-size: 0.7rem;
  }
  .downArrow {
    bottom: 100px;
  }
}
